body {
    background-color: grey;
    margin: 10px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
}
#navigation {
    background-color: rebeccapurple;
    position: sticky;
    top: 0;
    grid-area: navigation;
    flex-direction: row;
}

.container {
    width: 100%;
    padding: -45%;
}

#navigation ul {
    
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    
}
#navigation li {
    font-weight: 200;
    letter-spacing: 1px;
    background-color: yellowgreen;
    padding: 20px;
}
    
.dropdown {
    position: relative;
    display: none;
}
    
#navigation > ul > li {
    display: inline;
    position: relative;
    margin: 10px;
 }
    
#navigation .dropdown {
    position: absolute;
    display: none;
    top:20px;
    left:0;
 }

#navigation a:hover + .dropdown ,
#navigation a + .dropdown:hover {
    display: block;
 }

#navigation > ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0;
    flex-direction: column;
}
    
li {
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif
}

#header {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    color: lightblue;
    grid-area: header;
}

h1 {
    font-style: bold;
    text-transform: uppercase;
    color: lightblue;
    text-align: left;
    letter-spacing: 4px;
    background-color: grey;
}

.image {
    text-align: center;
    text-shadow: black;
    letter-spacing: 40%;
}

p {
    font-family: 'Special Elite', cursive;
    color: black;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    line-height: 2.4em;
    text-align: center;
    border: white solid 10px;
    border-radius: 15px;
}

#content {
    background-color black;
    padding: 40;
    margin: 0;
    grid-area: content;
}


h2 {
    font-family: 'Segoe UI';
    font-size: 35px;
    color:black;
    text-shadow:red;
    border: 3px solid black;
    background-color: yellow;
    font-family: 'Monoton', cursive;
    letter-spacing: 6px;
}

.image a {
    border: 1px solid black;
    margin: 45%;
    text-align: center;
    padding: 100%
}

#img-one{
margin-top:240px;
}

#img-two {
    margin-top: 240px;
}
#img-three {
    margin-top: 240px;
}
#img-four {
    margin-top: 240px;
}

#footer {
    background-color: forestgreen;
    margin: 1em 1em;
    font-family: 'Bangers', cursive;
    grid-area: footer;
    font-size: 25px;
    
}

.container > h2,
.container > h3 {
}

h4 {
    text-align: center;
}

@media (min-width: 750px) {
    body {
        grid-template-columns: 15% auto;
        grid-template-rows: min-content auto min-content;
        grid-template-areas: 
            "navigation header"
            "navigation content"
            "navigation footer";
    }
}


#middle {
    font-size: 1em;
    font-style: italic;
    background-color: forestgreen;
    text-align: center;
}






